<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="IshbulatovAutoServiceEntities" connectionString="metadata=res://*/Ishbulatov.csdl|res://*/Ishbulatov.ssdl|res://*/Ishbulatov.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=stud231-4\sqlexpress;initial catalog=IshbulatovAutoService;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>